<hr>
<div>
	Last updated on <a id="last_updated"></a>
</div>
<script>
    async function getData() {
        const url = "https://api.github.com/repos/harperawl/home/commits?path={{ page.path }}";
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const json = await response.json();
            console.log(json);
            const lastUpdated = json[0].commit.author.date;
            const date = new Date(lastUpdated);

            const lastUpdatedElement = document.getElementById("last_updated");
            lastUpdatedElement.textContent = date.toDateString();
            lastUpdatedElement.href = json[0].html_url;
        } catch (error) {
            console.error(error.message);
        }
    }
</script>