Last updated on <a id="last_updated"></a>
<script>
    async function getData() {
        const url = "https://api.github.com/repos/harperawl/home/commits?path={{ page.path }}";
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const json = await response.json();
            const lastUpdated = json[0].commit.author.date;
            const date = new Date(lastUpdated);

            const lastUpdatedElement = document.getElementById("last_updated");
            const options = {  
                month: "short",  
                day: "2-digit",  
                year: "numeric",  
                hour: "2-digit",  
                minute: "2-digit",  
                timeZone: "America/Los_Angeles",  
                timeZoneName: "short"  
            };

            const formattedDate = new Intl.DateTimeFormat("en-US", options).format(date).replace(",", "");
            lastUpdatedElement.textContent = formattedDate;
            lastUpdatedElement.href = json[0].html_url;
        } catch (error) {
            console.error(error.message);
        }
    }
    getData();
</script>