<script>
    document.addEventListener("DOMContentLoaded", function () {
      const headers = document.querySelectorAll("h1, h2, h3, h4, h5, h6");
      headers.forEach(header => {
        const div = document.createElement("div");
        div.className = "popup";
        div.innerHTML = "copied!";

        const link = document.createElement("a");
        link.onclick = function() { navigator.clipboard.writeText(`https://harperawl.net/{{ page.title }}{% if page.tags contains "special" %}.html{% else %}{% endif %}
${header.id ? "#" : ""}${header.id}`); popupCopyMessage(div); }
        link.className = "share";
        link.innerHTML = "<img src='/assets/images/link.svg' />"
        header.appendChild(link);

        header.appendChild(div);
      });
    });

    function popupCopyMessage(link) {
        link.classList.add("show");

        setTimeout(() => {
            link.classList.remove("show");
        }, 2200);
    }
</script>