<meta charset="UTF-8">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Harper Wicker-Lenseigne">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://harperawl.net{{ page.url }}" />
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:site_name" content="harperawl.net" />