/* variables */
:root {
  --background-color: #492C1D;
  --text-color: #8EB8E5;
  --accent-color: #5B5750;
  --supplementary-color: #7C99B4;
  --off-white: #6B7F82;
  --primary-font: "LatinModernSans", sans-serif;
  --mono-font: "LatinModernMono", monospace;
}

/* sections - hierarchical */
header {
  background-color: var(--accent-color);
  color: var(--off-white);
  width: 100%;
  padding: 0.5rem;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* elements - alphabetical */

a {
  color: var(--supplementary-color);
}

code {
  font-family: var(--mono-font);
}
