/* variables */
:root {
  --background-color: #7A2A7A;
  --text-color: #A1B53E;
  --accent-color: #A83A5B;
  --supplementary-color: #6BA73A;
  --off-white: #F8F0E3;
  --primary-font: "LatinModernSans", sans-serif;
  --mono-font: "LatinModernMono", monospace;
}

/* sections - hierarchical */
header {
  background-color: var(--accent-color);
  color: var(--off-white);
  width: 100%;
  padding: 0.5rem;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* elements - alphabetical */

a {
  color: var(--supplementary-color);
}

code {
  font-family: var(--mono-font);
}
