/* fonts */
@font-face {
	font-family: "LatinModernSans";
	src: url("/assets/fonts/lmsans12-regular.otf") format("opentype");
}

@font-face {
        font-family: "LatinModernMono";
        src: url("/assets/fonts/lmmono12-regular.otf") format("opentype");
}

/* variables */
:root {
  --background-color: #F0E9DE;
  --text-color: #454246;
  --accent-color: #EC7255;
  --supplementary-color: #994B37;
  --off-white: #F0E9DE;
  --primary-font: "LatinModernSans", sans-serif;
  --mono-font: "LatinModernMono", monospace;
}

/* sections - hierarchical */
header {
  background-color: var(--supplementary-color);
  color: var(--background-color);
  margin: 0;
  padding: 0.5rem;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
	margin: 1rem 0 0 3rem;
}

/* elements - alphabetical */

a {
  color: var(--accent-color);
}

code {
  font-family: var(--mono-font);
}
