/* import partials */

@import "variables";
@import "fonts";

/* divs - organized sequentially */

header {
	background-color: $accent-color;
	color: $off-white;
	width: 100%;
	padding: 0.5rem;
}

body {
	font-family: $primary-font;
	background-color: $background-color;
	color: $text-color;
}

/* elements - organized alphabetically */

a {
	color: $supplementary-color;
}

code {
	font-family: $mono-font;
}
